@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(33, 33, 33);
    color: aliceblue;
}

header {
    background-color: rgb(21, 21, 21);
    color: aliceblue;
}

.link {
    text-decoration: none;
    color: aliceblue;
}

.link:hover {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 171, 174);
}

dt {
    display: flex;
    padding: 20px;
}

dl {
    margin-left: 20px;
}


h1 {
    padding: 20px;
    margin: 50px;
}

p {
    margin: 30px;
    color: rgb(234, 234, 234);
}

p:hover {
    font-size: 20px;
    color: rgb(244, 255, 223);
}