* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(21, 21, 21);
    color: aliceblue;
}

dt {
    display: flex;
}

dl {
    padding: 10px;
}

img {
    position: absolute;
    width: 100%;
    height: 650px;
}

div {
    padding-left: 15%;
    text-align: center;
    font-size: 30px;
}

.titulo {
    position: relative;
    font-size: 50px;
    text-align: center;
}

.vencedor {
    position: relative;
    right: 50%;
    bottom: 200px;
   
}

h1 {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.jogadores {
    display: flex;
}

p {
    position: relative;
    font-size: 70px;
    margin-bottom: 50px;
    
}

.eles {
    display: flex;
    color: rgb(18, 18, 18);
    margin-bottom: 0px;
}

.nos {
    display: flex;
    margin-bottom: 0px;
}

.nomes2 {
    color: brown;
}

.truco {
    position: relative;
    margin: auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    right: 270px;
    top: 250px;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 0px;
}

.truco:hover {
    color: rgb(255, 255, 255);
    background-color: brown;
}

.trucado {
    position: relative;
    right: 200px;
    top: 100px;
    color: aqua;
}

footer {
    position: relative;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    padding: 20px;
    top: 230px;
}
@media (min-width: 920px) {
    
    p {
        margin-left: 100px;
    }

    .truco {
        right: 40%;
    }
}

@media (min-width: 1200px) {

    p {
        margin-left: 150px;
    }

    .truco {
        right: 35%;
    }
}