@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

header {
    background-color: rgb(21, 21, 21);
    color: aliceblue;
}

dt {
    display: flex;
}

dl {
    padding: 15px;
}

img {
    position: absolute;
    width: 100%;
    height: 650px;
}

div {
    padding-left: 15%;
    text-align: center;
    font-size: 30px;
}

.titulo {
    position: relative;
    font-size: 50px;
    text-align: center;
}

.vencedor {
    position: relative;
    right: 50%;
    bottom: 200px;
   
}

h1 {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.jogadores {
    display: flex;
}

p {
    position: relative;
    font-size: 70px;
    margin-bottom: 50px;
    cursor: pointer;
    
}

.eles {
    display: flex;
    margin-bottom: 0px;
    cursor: pointer;
    margin-left: 7px;
}

.nos {
    display: flex;
    margin-bottom: 0px;
    cursor: pointer;
    margin-left: 7px;
}

.nape {
    width: 60px;
    height: 70px;
    left: -20px;
    top: -10px;
}

.nomes2 {
    color: brown;
}

.truco {
    position: relative;
    margin: auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    right: 270px;
    top: 250px;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 0px;
    cursor: pointer;
}

.truco:hover {
    color: rgb(255, 255, 255);
    background-color: brown;
}

.trucado {
    position: relative;
    right: 250px;
    top: 100px;
    color: rgb(0, 255, 255);
    cursor: auto;
}

.elesPontua {
    position: relative;
    right: 250px;
    top: 100px;
    margin: 10px;
    font-size: 20px;
    color: rgb(13, 58, 58);;
    cursor: pointer;
}

.nosPontua {
    position: relative;
    right: 250px;
    top: 100px;
    margin: 10px;
    font-size: 20px;
    color: rgb(13, 58, 58);
    cursor: pointer;
}

footer {
    position: relative;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    padding: 10px;
    top: 230px;
}

.link {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

.link:hover {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 171, 174);
}

@media (min-width: 920px) {
    
    p {
        margin-left: 100px;
    }

    .truco {
        right: 40%;
    }

    .trucado {
        right: 75%;
    }

    .elesPontua {
        right: 60%;
   }

   .nosPontua {
        right: 75%;
    }
}

@media (min-width: 1200px) {

    p {
        margin-left: 150px;
    }

    .truco {
        right: 30%;
    }

    .trucado {
        right: 58%;
    }

    .elesPontua {
        right: 50%;
   }

    .nosPontua {
        right: 52%;
    }
}