* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(21, 21, 21);
    color: aliceblue;
}

dt {
    display: flex;
}

dl {
    padding: 10px;
}

section {
    padding-bottom: 200px;

}
img {
    position: absolute;
    width: 100%;
    height: 120%;
}

div {
    padding-left: 15%;
    text-align: center;
    font-size: 30px;
}

.titulo {
    position: relative;
    font-size: 50px;
    text-align: center;
}

.vencedor {
    color: blueviolet;
}

.vencedor2 {
    color: blueviolet;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin: auto;
    text-align: center;
}

.jogadores {
    display: flex;
}

p {
    position: relative;
    font-size: 70px;
    
}

.eles {
    color: rgb(18, 18, 18);
}

.nos {
    color: brown;
}

footer {
    position: relative;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    padding: 20px;
    top: 20px;
}
@media (min-width: 920px) {
    
    p {
        margin-left: 100px;
    }
}

@media (min-width: 1200px) {

    p {
        margin-left: 150px;
    }
}