* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(21, 21, 21);
    color: aliceblue;
}

dt {
    display: flex;
}

dl {
    padding: 10px;
}

section {
    display: flex;
    padding-bottom: 170px;
    background-color: rgb(137, 240, 100);
}

div {
    padding-left: 20%;
    text-align: center;
    font-size: 30px;
}

.titulo {
    position: relative;
    font-size: 50px;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    text-align: center;
}


p {
    font-size: 70px;
    margin-bottom: 20px;
}

.eles {
    color: rgb(18, 18, 18);
}

.nos {
    color: brown;
}

footer {
    position: relative;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}